@import '@globalStyles/mixins';

.buttonContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: -2.8rem;

	a {
		margin: 0 1.4rem 2.8rem;
	}
}

.twitter {
	@include button(rgb(119, 227, 235));
}

.lofi {
	@include button(#ffccd0);
}
