@import '@globalStyles/variables';
@import '@globalStyles/mixins';

.button {
	color: white;
	padding: 0 2.8rem 0 0;
	cursor: pointer;
	font-size: 1.7rem;
	letter-spacing: 0.5px;
	outline: none;
	border: none;
	display: flex;
	align-items: center;
	overflow: hidden;
	border-radius: 6px;
	transition: all 0.3s;
	background-size: 200% 100%;
	background-position: 100% 50%;

	@include button($color-cta);

	span {
		display: block;
		padding: 0.6rem 0.8rem;
		margin-right: 2rem;
		background-size: 200% 100%;
		background-position: 100% 50%;
		transition: all 0.3s 0.1s;
	}

	svg {
		display: block;
		color: rgb(40, 36, 41);
		transition: color 0.3s 0.1s;
	}

	&:hover,
	&:focus {
		color: rgb(40, 36, 41);
		background-position: 0% 50%;
		transition: all 0.3s 0.1s;

		span {
			background-position: 0% 50%;
			transition: all 0.3s;
		}

		svg {
			transition: color 0.3s;
		}
	}
}
