@import '@globalStyles/variables';

.title {
	font-size: 9rem;
	letter-spacing: 2px;
	background: linear-gradient(
		135deg,
		hsl(98 100% 62%),
		rgb(119, 227, 235),
		rgb(73, 75, 221),
		rgb(209, 73, 221)
	);
	background-size: 300%;
	animation: bg 20s infinite alternate;

	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.flex {
	display: flex;
	justify-content: center;
}

.titleContainer {
	margin-bottom: 3.6rem;
	text-align: center;
}

@keyframes bg {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}
