@import './variables';

@mixin whenXSmall() {
	@media only screen and (max-width: $breakpoint-xsmall) {
		@content;
	}
}

@mixin whenSmall() {
	@media only screen and (max-width: $breakpoint-small) {
		@content;
	}
}

@mixin whenMedium() {
	@media only screen and (max-width: $breakpoint-medium) {
		@content;
	}
}

@mixin button($color) {
	background-image: linear-gradient(to left, rgb(40, 36, 41) 50%, $color 50%);

	span {
		background-image: linear-gradient(
			to right,
			rgb(40, 36, 41) 50%,
			$color 50%
		);
	}

	&:hover,
	&:focus {
		svg {
			color: $color;
		}
	}
}
